.App {
  text-align: center;
}

.App-content {
  background-color: #304163;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 10px;
  border-radius: 30px;
}

.gifs {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  color: rgb(41, 144, 175);
  text-decoration: none;
}