.App {
  text-align: center;
}


.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 30%;
  height: 75px;
  font-size: 30px;
  margin: 10px;
  border-radius: 30px;
}

.gifs {
  color: aliceblue;
  text-decoration: none;
}